# Entorno
.env
.env.local
.env.*

## IDE files

# Entorno de Python
venv/

# Python bytecode files
*.pyc
__pycache__/
*cpython*

# Django Migrations Caches
*/migrations/__pycache__/
.vercel
.git/
node_modules/
venv/
__pycache__/
dist/
build/
.angular/