<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienestar Plus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/estilo.css" />
    <link rel="stylesheet" href="./styles/normalize.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/Bienestar_Plus_favicon.ico"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="./assets/isotipo-colo.png" alt="Logo BienestarPlus" />
        <span>BienestarPlus</span>
      </a>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="hamburger">&#9776;</label>
      <ul class="nav-links">
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./nosotros.html">Nosotros</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
        <li>
          <a href="./registro.html" class="nav-registrarse">Registrarse</a>
        </li>
      </ul>
    </nav>

    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <a
            href="https://github.com/ISPC-Soluciones/Bienestar-Plus"
            class="logo-footer"
          >
            <img src="./assets/isotipo-colo.png" alt="Logo BienestarPlus" />
            <span>BienestarPlus</span>
          </a>
        </div>
        <div class="footer-navigation-left">
          <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="#">Centro de Ayuda</a></li>
          </ul>
        </div>
        <div class="footer-navigation-center">
          <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Términos de Uso</a></li>
            <li><a href="#">Privacidad</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h3>Seguinos en:</h3>
          <div class="social-icons">
            <a
              href="https://www.tiktok.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-tiktok"></i>
            </a>

            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fab fa-instagram"></i>
            </a>

            <a
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-x-twitter"></i>
            </a>
            
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2025 SolucionesISPC - Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
