<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bienestar Plus - Iniciar Sesión</title>
  <link rel="icon" href="assets/Bienestar_Plus_favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="styles/estilo.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<body class="login-body">

  <main class="login-container">
    <section class="login-form">
      <form action="habitos.html" method="POST">
        <h2>INICIAR SESIÓN</h2>
        <input type="email" name="email" placeholder="Correo electrónico" required />
        <input type="password" name="password" placeholder="Contraseña" required />
        <button type="submit">Iniciar Sesión</button>
        <a href="registro.html" class="register-link">¿No tenés cuenta? REGISTRARTE</a>
      </form>
    </section>
  </main>

</body>
</html>
