<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quienes Somos Nosotros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/estilo.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/layout/assets/Bienestar_Plus_favicon.ico"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="index.html" class="logo">
          <img src="./assets/isotipo-colo.png" alt="Logo BienestarPlus" />
          <span>BienestarPlus</span>
        </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <ul class="nav-links">
          <li><a href="./index.html" class="nav-registrarse">Inicio</a></li>
          <li>
            <a href="./registro.html" class="nav-registrarse">Registrarse</a>
          </li>
          <li>
            <a href="./login.html" class="nav-registrarse">Iniciar Sesión</a>
          </li>
          <li>
            <a href="./perfil.html" class="nav-registrarse">Perfil</a>
          </li>
          <li>
            <a href="./habitos.html" class="nav-registrarse">Habitos</a>
          </li>
          <li>
            <a href="./nosotros.html" class="nav-registrarse">Nosotros</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="qs-section ispc-soluciones">
      <div class="ispc-container">
        <img
          src="assets/logoTeam.png"
          alt="ISPC Soluciones Logo"
          class="ispc-logo"
        />
        <div class="ispc-text">
          <h2>ISPC Soluciones</h2>
          <p>
            ISPC Soluciones es una compañía de desarrollo de software conformada
            por programadores del Instituto Superior Politécnico de Córdoba,
            comprometidos con generar impacto social positivo a través de la
            tecnología.
          </p>
          <p>
            Creemos en el poder del código como herramienta de transformación,
            promoviendo soluciones innovadoras que fomenten la sostenibilidad
            ambiental, el desarrollo humano y la evolución tecnológica.
          </p>
          <p>
            Nos enfocamos en crear sistemas escalables, eficientes y alineados
            con los desafíos del presente y del futuro.
          </p>
          <p>
            Mas sobre nuestros proyectos
            <a href="https://github.com/ISPC-Soluciones/Bienestar-Plus">aqui</a>
          </p>
        </div>
      </div>
    </section>
    <section class="qs-section">
      <h2 class="qs-title">Nuestro Equipo</h2>
      <div class="qs-profile alt">
        <div class="qs-photo">
          <img src="assets/perfil1.png" alt="CristianVellio" />
        </div>
        <div class="qs-info">
          <h3>Cristian Vellio</h3>
          <p>
            Soy una persona automotivada y empática que prospera en entornos
            colaborativos. Disfruto aprendiendo de los demás, compartiendo
            conocimientos y enfrentando desafíos de frente. Mi trayectoria
            refleja mi profundo entusiasmo por el campo de la TI y mi orgullo
            por convertirme en un Desarrollador de Software dedicado.
          </p>
          <div class="qs-links">
            <a
              href="https://github.com/CristianVellio"
              target="_blank"
              alt="cristian vellio github"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/cristianvellio/?locale=es_ES"
              target="_blank"
              alt="cristian vellio linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              href="https://cristian-vellio-cv.vercel.app/"
              target="_blank"
              alt="cristian vellio portfolio"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="qs-profile">
        <div class="qs-photo">
          <img src="assets/perfil2.jpg" alt="NahirÑañez" />
        </div>
        <div class="qs-info">
          <h3>Nahir Ñañez</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ipsum ullam libero praesentium voluptatibus culpa
            voluptates modi non sit. A ad vel harum, repellat molestiae esse non
            hic reiciendis doloribus..
          </p>
          <div class="qs-links">
            <a href="https://github.com/nahir1009" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/nahir-%C3%B1a%C3%B1ez-63232b218/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://miportfolio.com" target="_blank"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="qs-profile alt">
        <div class="qs-photo">
          <img src="assets/perfil3.jpeg" alt="Franco Miranda" />
        </div>
        <div class="qs-info">
          <h3>Franco Miranda</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ipsum ullam libero praesentium voluptatibus culpa
            voluptates modi non sit. A ad vel harum, repellat molestiae esse non
            hic reiciendis doloribus..
          </p>
          <div class="qs-links">
            <a href="https://github.com/MirandaFrancoCBA" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://linkedin.com/in/franco-rodrigo-miranda-993710248"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://miportfolio.com" target="_blank"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="qs-profile">
        <div class="qs-photo">
          <img src="assets/perfil4.png" alt="EricHeredia" />
        </div>
        <div class="qs-info">
          <h3>Eric Heredia</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ipsum ullam libero praesentium voluptatibus culpa
            voluptates modi non sit. A ad vel harum, repellat molestiae esse non
            hic reiciendis doloribus..
          </p>
          <div class="qs-links">
            <a href="https://github.com/Heredia-Eric" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://linkedin.com/in/franco-rodrigo-miranda-993710248"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://miportfolio.com" target="_blank"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="qs-profile alt">
        <div class="qs-photo">
          <img src="./assets/perfil5.jpg" alt="SantiagoBustos" />
        </div>
        <div class="qs-info">
          <h3>Santiago Bustos</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ipsum ullam libero praesentium voluptatibus culpa
            voluptates modi non sit. A ad vel harum, repellat molestiae esse non
            hic reiciendis doloribus..
          </p>
          <div class="qs-links">
            <a href="https://github.com/santyagote" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://linkedin.com/in/franco-rodrigo-miranda-993710248"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://miportfolio.com" target="_blank"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="qs-profile">
        <div class="qs-photo">
          <img src="assets/perfil6.jpg" alt="MatiasRios" />
        </div>
        <div class="qs-info">
          <h3>Matias Rios</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ipsum ullam libero praesentium voluptatibus culpa
            voluptates modi non sit. A ad vel harum, repellat molestiae esse non
            hic reiciendis doloribus..
          </p>
          <div class="qs-links">
            <a href="https://github.com/LeonMatias22" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://linkedin.com/in/franco-rodrigo-miranda-993710248"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://miportfolio.com" target="_blank"
              ><i class="fa-solid fa-suitcase"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <a
            href="https://github.com/ISPC-Soluciones/Bienestar-Plus"
            class="logo-footer"
          >
            <img src="./assets/isotipo-colo.png" alt="Logo BienestarPlus" />
            <span>BienestarPlus</span>
          </a>
        </div>
        <div class="footer-navigation-left">
          <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="#">Centro de Ayuda</a></li>
          </ul>
        </div>
        <div class="footer-navigation-center">
          <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Términos de Uso</a></li>
            <li><a href="#">Privacidad</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h3>Seguinos en:</h3>
          <div class="social-icons">
            <a
              href="https://www.tiktok.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-tiktok"></i>
            </a>

            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fab fa-instagram"></i>
            </a>

            <a href="https://x.com/" target="_blank" rel="noopener noreferrer"
              ><i class="fa-brands fa-x-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2025 SolucionesISPC - Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
