<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BienestarPlus | Registrarse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../layout/styles/estilo.css" />
    <link rel="stylesheet" href="../layout/styles/normalize.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../layout/assets/Bienestar_Plus_favicon.ico"
    />
  </head>
  <body>
    <div class="registro-body">
      <main class="registro-contenedor-main">

        <a href="./index.html">
          <img src="./assets/vertical-color.png" class="logo-vertical-registro" alt="logo-bienestarPlus-vertical">
        </a>
        <h2 class="registro-h2">Registro</h2>

        <form class="registro-form" action="/ruta-de-registro" method="POST">
          <label class="registro-label" for="nombre">Nombre :</label>
          <input
            class="registro-input"
            type="text"
            id="nombre"
            name="nombre"
            placeholder="Ej: María "
            required
            title="Ingrese su nombre completo"
          />

          <label class="registro-label" for="email">Correo electrónico:</label>
          <input
            class="registro-input"
            type="email"
            id="email"
            name="email"
            placeholder="Ej: ejemplo@correo.com"
            required
            title="Ingrese una dirección de correo válida"
          />

          <label class="registro-label" for="password">Contraseña:</label>
          <input
            class="registro-input"
            type="password"
            id="password"
            name="password"
            placeholder="Debe tener al menos 8 caracteres"
            required
            pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
            title="La contraseña debe tener al menos 8 caracteres, incluyendo una letra y un número"
          />

          <label class="registro-label" for="confirmar"
            >Confirmar contraseña:</label
          >
          <input
            class="registro-input"
            type="password"
            id="confirmar"
            name="confirmar"
            placeholder="Repita la contraseña"
            required
            title="Confirme su contraseña"
          />

          <button class="registro-button" type="submit">Registrarse</button>
        </form>
      </main>
    </div>
    <footer class="footer-copyright">
          <p>&copy; 2025 SolucionesISPC - Todos los derechos reservados.</p>
    </footer>

  </body>
</html>
