 <div class="registro-body">
      <main class="registro-contenedor-main">
        <h1 class="registro-h1">BienestarPlus</h1>
        <div class="container__logo">
          <img
            src="/Bienestar_Plus_favicon.ico"
            alt="Logo BienestarPlus"
            class="logo__img"
          />
        </div>
        <h2 class="registro-h2">Registro</h2>

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="registro-form">
          <label for="nombre" class="registro-label">Nombre :</label>
          <input class="registro-input" id="nombre" type="text" formControlName="nombre" placeholder="Ej: María" />
          @if (registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid) {
          <div class="error">El nombre es obligatorio</div>
          }

          <label for="email" class="registro-label">Correo electrónico:</label>
          <input class="registro-input" id="email" type="email" formControlName="email" placeholder="Ej: ejemplo@correo.com" />
          @if (registroForm.get('email')?.touched && registroForm.get('email')?.invalid) {
            <div class="error">El correo es obligatorio </div>
          }
           <label for="telefono" class="registro-label">Numero telefonico:</label>
          <input class="registro-input" id="telefono" type="tel" formControlName="telefono" placeholder="Ej: +54 351 17777441" />
          @if (registroForm.get('telefono')?.touched && registroForm.get('telefono')?.invalid) {
            <div class="error">El telefono es obligatorio </div>
          }
          <label for="edad" class="registro-label">edad:</label>
          <input class="registro-input" id="edad" type="date" formControlName="edad" placeholder="Ej: mm/aa/dd" />
          @if (registroForm.get('edad')?.touched && registroForm.get('edad')?.invalid) {
            <div class="error">la edad  es obligatoria </div>
          }
          <label for="sexo" class="registro-label">sexo:</label>
          <input class="registro-input" id="sexo" type="text" formControlName="sexo" placeholder="masculino o femenino" />
          @if (registroForm.get('sexo')?.touched && registroForm.get('sexo')?.invalid) {
            <div class="error">este campo es obligatorio </div>
          }
          <label for="password" class="registro-label">Contraseña:</label>
          <input class="registro-input" id="password" type="password" formControlName="password" placeholder="Debe tener al menos 8 caracteres" />
          @if (registroForm.get('password')?.touched && registroForm.get('password')?.invalid) {
            <div class="error">La contraseña es obligatoria</div>
          }
          <label for="confirmar" class="registro-label">Confirmar contraseña:</label>
          <input id="confirmar" class="registro-input" type="password" formControlName="confirmar" placeholder="Repita la contraseña" />
          @if (registroForm.get('confirmar')?.touched && registroForm.get('confirmar')?.invalid) {
            <div class="error">Debe confirmar la contraseña</div>
          }
          <button class="registro-button" type="submit" [disabled]="registroForm.invalid">Registrarse</button>
        </form>
        <div class="container__volver__inicio">
          <a href="./index.html" class="btn__volver__inicio"
            >Volver al Inicio <i class="fa-solid fa-rotate-left"></i
          ></a>
        </div>
      </main>
    </div>
