.registro-body {
  font-family: var(--fuente-base);
  background-color: var(--secundario);
  background-image: url(/assets/persona-fondo.png);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.registro-button[disabled] {
  background-color: #a4b0be; 
  color: #6a6a6a; 
  cursor: not-allowed;
  opacity: 0.7; 
}

.registro-contenedor-main {
  background-color: var(--bg-fondo);
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
}

.logo-vertical-registro {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 7rem;
  margin-bottom: 2rem;
}

.registro-h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--fuente-titulo);
  font-style: italic;
  font-weight: 700;
  color: var(--cuaternario);
  text-align: center;
}
.registro-h2 {
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-family: var(--fuente-titulo);
  font-style: italic;
  color: var(--bg-y-fuentes);
  text-align: center;
}
.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.container__logo img {
  width: 100%;
  height: auto;
  max-width: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.registro-form {
  display: flex;
  flex-direction: column;
  font-family: var(--fuente-base);
}

.registro-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--bg-y-fuentes);
}

.registro-input {
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--secundario);
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: var(--fuente-base);
}

.registro-input:focus {
  border-color:green;
  outline: none;
  box-shadow: 0 0 3px green;
}
.registro-input.ng-invalid.ng-touched {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.error {
  color: red;
  font-size: 0.95rem;
  margin-top: -0.8rem;
  margin-bottom: 1.2rem;
}
.registro-button {
  background-color: var(--cuaternario);
  color: var(--bg-y-fuentes);
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--fuente-base);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registro-button:hover {
  background-color: #ffb499;
  box-shadow: 0 0 10px var(--ternario);
}

/* DISEÑO RESPONSIVE(MEDIA QUERIES) PAG REGISTRO */

/* tamaño Mobile  */
@media (max-width: 480px) {
  .registro-contenedor-main {
    padding: 1.2rem;
  }

  .registro-h1,
  .registro-h2 {
    font-size: 1.5rem;
  }

  .registro-input {
    font-size: 0.95rem;
    padding: 0.6rem;
  }

  .registro-button {
    font-size: 0.95rem;
    padding: 0.65rem;
  }
}

/* tamaño  tablets  */
@media (max-width: 768px) {
  .registro-contenedor-main {
    padding: 2rem;
  }

  .registro-h1,
  .registro-h2 {
    font-size: 1.7rem;
  }

  .registro-input {
    font-size: 1rem;
    padding: 0.7rem;
  }

  .registro-button {
    font-size: 1rem;
    padding: 0.7rem;
  }
}

/* tamaño Desktop */
@media (max-width: 1024px) {
  .registro-contenedor-main {
    max-width: 380px;
  }
}