<div class="registro-body">
  <main class="registro-contenedor-main">
    <h1 class="registro-h1">BienestarPlus</h1>
    <div class="container__logo">
      <img
        src="/Bienestar_Plus_favicon.ico"
        alt="Logo BienestarPlus"
        class="logo__img"
      />
    </div>
    <h2 class="registro-h2">Registro</h2>

    <form
      [formGroup]="registroForm"
      (ngSubmit)="EnviarFormulario()"
      class="registro-form"
    >
      <label for="nombre" class="formulario--label">Nombre :</label>
      <input
        class="formulario--input"
        id="nombre"
        type="text"
        formControlName="nombre"
        placeholder="Ej: María"
      />
      @if (registroForm.get('nombre')?.touched &&
      registroForm.get('nombre')?.invalid) {
      <div class="formulario--error">El nombre es obligatorio</div>
      } @if (registroForm.get('nombre')?.touched &&
      registroForm.get('nombre')?.hasError('minlength')) {
      <div class="formulario--error">
        El nombre debe tener al menos 3 caracteres
      </div>
      } @if (registroForm.get('nombre')?.touched &&
      registroForm.get('nombre')?.hasError('numerosNoPermitidos')) {
      <div class="formulario--error">El nombre no debe contener números</div>
      }
      <label for="email" class="formulario--label">Correo electrónico:</label>
      <input
        class="formulario--input"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Ej: ejemplo@correo.com"
      />
      @if (registroForm.get('email')?.touched &&
      registroForm.get('email')?.invalid) {
      <div class="formulario--error">El correo es obligatorio</div>
      } @if (registroForm.get('email')?.touched &&
      registroForm.get('email')?.hasError('email')) {
      <div class="formulario--error">El formato del correo es inválido</div>
      }

      <label for="telefono" class="formulario--label">Numero telefonico:</label>
      <input
        class="formulario--input"
        id="telefono"
        type="tel"
        formControlName="telefono"
        placeholder="Ej: +54 351 17777441"
      />
      @if (registroForm.get('telefono')?.touched &&
      registroForm.get('telefono')?.invalid) {
      <div class="formulario--error">El telefono es obligatorio</div>
      }
      <label for="edad" class="formulario--label">edad:</label>
      <input
        class="formulario--input"
        id="edad"
        type="date"
        formControlName="edad"
        placeholder="Ej: mm/aa/dd"
      />
      @if (registroForm.get('edad')?.touched &&
      registroForm.get('edad')?.invalid) {
      <div class="formulario--error">la edad es obligatoria</div>
      }
      <label for="genero" class="formulario--label">Género:</label>
      <select class="formulario--input" id="genero" formControlName="genero">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
      @if (registroForm.get('genero')?.touched &&
      registroForm.get('genero')?.invalid) {
      <div class="formulario--error">El género es obligatorio</div>
      }
      <label for="password" class="formulario--label">Contraseña:</label>
      <input
        class="formulario--input"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Debe tener al menos 8 caracteres"
      />
      @if (registroForm.get('password')?.touched &&
      registroForm.get('password')?.invalid) {
      <div class="formulario--error">La contraseña es obligatoria</div>
      } @if (registroForm.get('password')?.touched &&
      registroForm.get('password')?.hasError('minlength')) {
      <div class="formulario--error">
        La contraseña debe tener al menos 8 caracteres
      </div>
      }
      <label for="confirmar" class="formulario--label"
        >Confirmar contraseña:</label
      >
      <input
        id="confirmar"
        class="formulario--input"
        type="password"
        formControlName="confirmar"
        placeholder="Repita la contraseña"
      />
      @if (registroForm.get('confirmar')?.touched &&
      registroForm.get('confirmar')?.invalid) {
      <div class="formulario--error">Debe confirmar la contraseña</div>
      } @if (registroForm.touched && registroForm.hasError('mismatch')) {
      <div class="formulario--error">Las contraseñas no coinciden</div>
      }
      <button
        class="formulario--btn"
        type="submit"
        [disabled]="registroForm.invalid"
      >
        Registrarse
      </button>
    </form>
    <div class="container__volver__inicio">
      <a href="./index.html" class="btn__volver__inicio"
        >Volver al Inicio <i class="fa-solid fa-rotate-left"></i
      ></a>
    </div>
  </main>
</div>
